<div class="content1" style="margin-top:90px;">
    <div class="container-fluid">
        <div class="row clearfix" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >



                <!-- second card -->
                <div class="card" >
                    <div class="body" >
                       <div class="table-responsive">
                       <table class="table table-bordered table-striped table-hover">
                                  <thead>
                                    <tr>
                                      <th >Rank</th>
                                      <th>CGPA</th>
                                      <th >Application No</th>
                                      <th>Student Name</th>
                                      <th >Category</th>
                                      <th >Gender</th>
                                      <th>Area</th>
                                      <th>Allotment</th>
                                      <th>Re Allotment</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><%= @dmerit.f_rank  %></td>
                                      <td><%= @dmerit.c_cgpa_r  %></td>
                                      <td><%= @dmerit.application_number  %></td>
                                      <td><%= @dmerit.applicant_name  %></td>
                                      <td ><%= @dmerit.caste == 'A' ? 'BC-A': 'A' %></td>
                                      <td><%= @dmerit.gender %></td>
                                      <td><%= @dmerit.area == true ? 'Local' : 'Non-Local' %></td>
                                      <td><a href='#' id='executer-button' class="btn bg-greay btn-xs waves-effect">Proceed</a></td>
                                      <td><button type="button" class="btn bg-blue btn-xs waves-effect" data-toggle="modal" data-target="#student-info2">View</button></td>
                                    </tr>
                                  </tbody>
                         </table>
                      </div>
                  </div>
                </div>
                <!-- second card1 -->



            </div>
        </div>
        <!-- #END# Body Copy -->



        <!-- Body Copy -->
        <div class="row clearfix" >
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:-15px;">
                <!-- second card -->
                <div class="card">
                    <div class="header">

                        <h2>
                            Available Seats - Government Colleges               </h2>
                    </div>
                    <div class="body">
                       <div class="table-responsive">
                       <table class="table table-bordered table-striped table-hover">
                          <thead>
                            <tr>
                              <td>S NO:</td>
                              <td>College Name</td>
                              <td>Allotment Govt</td>
                              <td>Allotment College</td>
                              <td>Action</td>
                            </tr>
                          </thead>
                          <tbody>
                            <% @result[:details].each_with_index do |item, index| %>
                            <tr>
                              <td><%= index+1 %></td>
                              <td><%= item[3] %></td>
                              <td><%= item[1] %></td>
                              <td><%= item[2] %></td>
                              <td><input type="radio" value="<%= item[2] %>" name = "select" id="selected_seat"></td>
                            </tr>
                            <% end %>
                          </tbody>
                         </table>
                       </div>
                  </div>
                </div>

                <!-- second card1 -->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:-15px;">
                <!-- second card -->
                <div class="card">
                    <div class="header">

                        <h2>Available Seats - Private Colleges </h2>
                  </div>
               <div class="body">


                       <div class="table-responsive">
                         <table class="table table-bordered table-striped table-hover">
                           <thead>
                             <tr></tr>
                           </thead>
                           <tbody>
                             <tr>
                               </tr>
                           </tbody>
                         </table>
                       </div>
                  </div>
                </div>

                <!-- second card1 -->
            </div>


        </div>
        </div>
        </div>
<script>
  var callExecuter=function(){
    var a = $('input[name=select]:checked').val();
    console.log("--------------------");
    console.log(a);
    console.log("--------------------");
  $.ajax({
    type:'post',
    url:'/dmerit/executer_route',
    data: { seat_area : a },
  success:function(){
  //I assume you want to do something on controller action execution success?
  $(this).addClass('done');
  }
  });
  }

  $(document).on("click","#executer-button",callExecuter);
</script>
        <!-- #END# Body Copy -->
