
<% if !@certificate.errors.empty? %>
<div class = "alert alert-error">
  <ul>
    <% @certificate.errors.full_messages.each do |msg| %>
    <div class = "alert alert-info">
      <%= flash[:alert] %>
      <li><%= msg %></li>
    </div>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
<%= form_for @certificate, html: { multipart: true } do |f| %>

    <div class="form-group row field">
      <label for="certificate_no" class="col-xs-2 col-form-label">Certificate Number</label>
      <div class="col-xs-10">
          <%= f.text_field :certificate_no, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="student_id" class="col-xs-2 col-form-label">Student Id</label>
      <div class="col-xs-10">
        <%= f.text_field :student_id, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="student_name" class="col-xs-2 col-form-label">Student Name</label>
      <div class="col-xs-10">
        <%= f.text_field :student_name, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="father_name" class="col-xs-2 col-form-label">Father Name</label>
      <div class="col-xs-10">
        <%= f.text_field :father_name, class: "form-control"%>
      </div>
    </div>

    <div class="form-group row field">
      <label for="mother_name" class="col-xs-2 col-form-label">Mother Name</label>
      <div class="col-xs-10">
        <%= f.text_field :mother_name, class: "form-control"%>
      </div>
    </div>

    <div class="form-group row field">
      <label for="aadhar_no" class="col-xs-2 col-form-label">Aadhar Number</label>
      <div class="col-xs-10">
        <%= f.text_field :aadhar_no, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="academic_program" class="col-xs-2 col-form-label">Academic Program</label>
      <div class="col-xs-10">
        <%= f.select(:academic_program, options_for_select(['UG','PG','Diploma(2 Years)','Diploma(3 Years)'], selected: @certificate.blank? ? "Select any Degree" : @certificate.academic_program),{prompt: '<< Select any Academic Programe >>'},{:class => "form-control", :onchange => "retrieve_courses_and_colleges_based_on_academic_program($('#certificate_academic_program').val());", required: true }) %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="degree_name" class="col-xs-2 col-form-label">Degree</label>
      <div class="col-xs-10">
        <%= f.select :degree_name,[@certificate.degree_name],{prompt: '<< Select any Degree >>'},{:class => "form-control", :onchange => "retrieve_colleges_based_on_degree($('#certificate_degree_name').val());", required: true } %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="college_name" class="col-xs-2 col-form-label">College</label>
      <div class="col-xs-10">
        <%= f.select(:college_name,[@certificate.college_name],{prompt: '<< Select any College >>'},{:class => "form-control", required: true }) %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="admission_year" class="col-xs-2 col-form-label">Academic Year</label>
      <div class="col-xs-10">
        <%= f.select(:admission_year,['2013','2014','2015','2016'],{prompt: '<< Select any Year >>'},{:class => "form-control", :prompt => 'Select', required: true }) %>
      </div>
    </div>

    <div class="form-group row field">
      <label for="attachment" class="col-xs-2 col-form-label">Attachment File</label>
      <div class="col-xs-10">
        <%= f.file_field :attachment, class: "form-control" %>
      </div>
    </div><br />
    <%= link_to 'Back', :back , :class=>"btn btn-primary" %>
    <%= f.submit "Submit", :class => 'btn btn-success pull-right' %>
  </div><br /><br />
<% end %>
